<div{{- wrapper_attributes -}}>
  {%- if items -%}
    {%- if filters -%}
      <div>
        {{- filters -}}
      </div>
    {%- endif -%}
    <div>
      <ul{{- attributes -}}>
        {%- for item in items -%}
          <li>{{- item -}}</li>
        {%- endfor -%}
      </ul>
    </div>
    {%- if pager -%}
      <div>
        {{- pager -}}
      </div>
    {%- endif -%}
  {% elseif empty %}
    <div>{{- empty -}}</div>
  {%- endif -%}
</div>
